# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular language that Data Scientist use are:

In [5]:
print("ordered list:\nPython\nR\nSQL")

ordered list:
Python
R
SQL

Some of the commonly used libraries used by Data Scientists include:

In [6]:
print("ordered list:\Matplotlib\nSeaborn\nNumpy")

ordered list:\Matplotlib
Seaborn
Numpy

Data Sciene Tools:

In [9]:
print("Jupyter Notebook\n Google Colab")

Jupyter Notebook
 Google Colab

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Basic Arithmetic
result = 5 + 3  # Addition
print(result)  # Output: 8

result = 12 - 4  # Subtraction
print(result)  # Output: 8

result = 6 * 2  # Multiplication
print(result)  # Output: 12

result = 20 / 4  # Division
print(result)  # Output: 5.0

# Exponents
result = 2 ** 3  # 2 raised to the power of 3
print(result)  # Output: 8

# Modulo
result = 10 % 3  # Remainder of 10 divided by 3
print(result)  # Output: 1

# Parentheses
result = (4 + 3) * 2  # 4 + 3 is calculated first, then multiplied by 2
print(result)  # Output: 14

# Floating-Point Division vs. Integer Division
result1 = 10 / 3  # Floating-point division
print(result1)  # Output: 3.3333333333333335

result2 = 10 // 3  # Integer division (floor division)
print(result2)  # Output: 3

# Precedence of Operators
result = 4 + 3 * 2  # Multiplication is performed before addition
print(result)  # Output: 10

8
8
12
5.0
8
1
14
3.3333333333333335
3
10

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5

# Print the result
print("Result:", result)

Result: 17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60

# Print the result
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

<b> Objectives of this course! <b>
    <i> The popular Data Science languages: <i>
        <li> Python</li><li> SQL</li><li> R</li><li> Julia</li>

## Zeeshan Modi is the Author